
.Mod-head {
	position: absolute;		
	top: -50px;
	left: -40px;
	text-align: center;
    	background-image: url("images/header.jpg");
    	border: 2px solid #B6D839;
    	border-bottom: 12px double #B6D839;
    	color: white;
    	padding: 25px;
    	border-radius: 60px;
    	font-size: 2em;
    	font-family: 'Anton';
    	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
    	
}


/* Chrome, Safari, Opera */
@-webkit-keyframes example{
    50% {padding-right: 800px;}
    100% {padding-right: 200px;}
}

/* Standard syntax */
@keyframes example {
    50% {padding-right: 500px;}
    100% {padding-right: 200px;}
}







.modal h2 {
	font-family: 'Anton';
	margin-top: 30px;
	margin-bottom: 20px;
}

.modal button {
	background-color: #bfbfbf;
}


.modal {
    background-color: #4B8241;
}





.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
  z
}

.lab-modal-body h1 {
  font-size: 4rem;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Seymour One';
  color: #B6D839;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  position: relative;
  bottom: -750px;
  margin: 150px auto 0;
  padding: 70px;
  width: 55%;
  max-width: 750px;
  height: auto;
  background-color: #F5F5F5;
  border: 1px solid #BEBEBE;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  border-radius: 55px;
}

.close {
  margin-top: -20px;
  margin-right: -20px;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 2em;
}

.popup-button {
  margin-top: 70px;
}

.help {
	margin-bottom: 40px;
}

.panel-heading {
	font-weight: bold;
	font-size: 1.5em;
}

#clearmodel {
	width: 100%;
	padding: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #b1b1b1;
}

#clearmodel:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

 #submitNewUser {
   	width: 100%;
	padding: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #b1b1b1;
   }

#submitNewUser:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


.panel-group h2 {
	font-size: 1.3em;
}


.row {
	margin-top: 4px;
}


@media only screen and (max-width: 600px) {
    .lab-modal-body {
  	min-width: 95%;
  	background-color: rgb(248, 250, 247);
  	padding: 45px;
  	padding-top: 20px;
  	margin: auto;
  	margin-top: 35px;
 	
   }
   

   
   #submitNewUser {
   margin-top: 15px;
   margin-bottom: 15px;
   }
   
   
   .lab-modal-body input {
   margin-bottom: 10px;
   }
   
   
.Mod-head { 
display: none;
}
   
}






















